
.title-row {
    display: flex;
    justify-content: center;
    align-content: center;
    background-color: rgb(24, 24, 24);
    color: rgb(250, 142, 0);
    width: 100%;
    /* padding: 0 1em 0 1em; */
}

.title-column {
    display: flex;
    justify-self:left !important;
}

.title-text {
    display: flex;
    align-self: center;
    text-align: center;
}
.traits {
    display: flex;
    justify-content: space-around;
}
.card-column {
    display: flex;
    margin: 0 1em 0 1em;
    align-items: center;
    text-align: center;
}

.card-img {
    height: 20vh;
}