
.card-row {
    display: flex;
    justify-content: center;
    align-content: center;
    background-color: rgb(24, 24, 24);
    color: rgb(250, 142, 0);
    width: 100%;
    padding: 0 1em 0 1em;
    margin: 0;
}

.card-column {
    display: flex;
    justify-content:space-between;
    margin: 0;
    padding-right: 1em;
    padding-left: 1em;
    align-items: center;
}
