body {
    background-color: black;
}
.title-row {
    display: flex;
    justify-content: space-between;
    align-content: center;
    background-color: rgb(78, 78, 78);
    color: rgb(250, 142, 0);
    width: 100%;
    /* padding: 0 1em 0 1em; */
    max-height: 10%;
    min-height: 10vw;
    border-style: solid;
    border-right:0;
    border-left:0;
    border-color:rgb(250, 142, 0);
}

.title-column {
    display: flex;
    border-style: solid;
    border-color:rgb(250, 142, 0);
    border-top:0;
    border-bottom:0;
    background-color: rgb(61, 61, 61);
    font-size: 1vw;
    width:6vw;
    justify-content: center;
    min-width: 6vw;
    min-height:15vw;
    align-items: center;
}

.title-text {
    display: flex;
    align-self: center;
    text-align: center;
}
.trait-link {
    color: rgb(250, 142, 0);
    text-decoration: none;
}
.traits {
    display: flex;
    justify-content: space-around;
}
.card-column {
    display: flex;
    margin: 0;
    align-items: center;
    text-align: center;
    max-height: 100%;
    font-size: 2vw;
    padding-left:.5em;
    padding-right:.5em;
}

.card-img {
    max-width: 100%;
    max-height: 10vw;
}

.trait-text {
padding-top: 0;
margin-top:0;
margin-bottom: 0;
padding-bottom: 0;
}
.token-container {
}
.token-row {
    display: flex;
    justify-content: center;
    width: 100%;
}
.token-image {
    max-width: 100%;
}